.settings
.idea
*.iml
*.log
tern-studio-agent/\.classpath
tern-studio-build/\.classpath
tern-studio-common/\.classpath
tern-studio-index/\.classpath
tern-studio-project/\.classpath
tern-studio-service/\.classpath
tern-studio/\.classpath
./work
