.alertMessage {	
	background-image: url('${IMAGE_FOLDER}/warning.png');	
	background-size: contain;
	background-position: left bottom;
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 32px; /* Or size of icon + spacing */
	margin-left: -10px;
	z-index: 1009;
}


.alertText {
	/*border: 1px solid red;*/
	padding: 20px;
}