#profiler {
    font-family: "Lucida Console", sans-serif; 
    font-size: 0.9em;   
    background-color: #ffffff;
    /*border-radius: 4px;*/    
 	border-style: solid;
    border-width: 1px;
    border-color: ${BORDER_PANEL};
    position: absolute;
    padding: 0px;
    top: 12px;
    right: 8px;
    bottom: 8px;
    left: 8px;
}

.profilerTab {	
	background-image: url('${IMAGE_FOLDER}/clock.png');	
	background-size: contain;
	background-position: left bottom;
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 22px; /* Or size of icon + spacing */
	margin-left: -10px;
	z-index: 1009;
}

.profilerRecord {
	/*font-family: "Lucida Console", sans-serif;*/
    font-size: 1.1em;
	background-image: url('${IMAGE_FOLDER}/clock.png');	
	background-size: contain;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 22px; /* Or size of icon + spacing */
}