
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
::-webkit-scrollbar-track {
    background: ${SCROLL_BAR_TRACK};
}

::-webkit-scrollbar-thumb {
    background: ${SCROLL_BAR_THUMB};
}

::-webkit-scrollbar-thumb:window-inactive {
	background: ${SCROLL_BAR_THUMB}; 
}