#variables {
    font-family: "Lucida Console", sans-serif; 
    font-size: 0.9em;   
    background-color: #f8f8f8;
    /*border-radius: 4px;*/    
 	border-style: solid;
    border-width: 1px;
    border-color: ${BORDER_PANEL};
    position: absolute;
    padding: 0px;
    top: 12px;
    right: 8px;
    bottom: 8px;
    left: 8px;
}
.variableNode {	
    /*font-family: "Lucida Console", sans-serif; 
    font-size: 1.2em;*/
    font-size: 1.1em;  		
	background-image: url('${IMAGE_FOLDER}/green_circle.png');
	background-size: contain;	
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 22px; /* Or size of icon + spacing */
}	
.variableNodePrivate {	
    /*font-family: "Lucida Console", sans-serif; 
    font-size: 1.2em;*/
    font-size: 1.1em;  		
	background-image: url('${IMAGE_FOLDER}/red_square.png');	
	background-size: contain;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 22px; /* Or size of icon + spacing */
}	
.variableNodePublic {	
    /*font-family: "Lucida Console", sans-serif; 
    font-size: 1.2em;*/
    font-size: 1.1em;  		
	background-image: url('${IMAGE_FOLDER}/green_circle.png');
	background-size: contain;	
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 22px; /* Or size of icon + spacing */
}
.variableNodeProtected {	
    /*font-family: "Lucida Console", sans-serif; 
    font-size: 1.2em;*/
    font-size: 1.1em;  		
	background-image: url('${IMAGE_FOLDER}/yellow_square.png');	
	background-size: contain;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 22px; /* Or size of icon + spacing */
}
.variableExpression {	
    /*font-family: "Lucida Console", sans-serif; 
    font-size: 1.2em;*/
    font-size: 1.1em;  		
	background-image: url('${IMAGE_FOLDER}/calculator.png');	
	background-size: contain;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 22px; /* Or size of icon + spacing */
}
.variableLeaf  {
	/*font-family: "Lucida Console", sans-serif; 
    font-size: 1.2em;*/
	font-size: 1.1em;
	background-image: url('${IMAGE_FOLDER}/grey_circle.png');	
	background-size: contain;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 22px; /* Or size of icon + spacing */
}

.variableData {  
	/*font-family: "Lucida Console", sans-serif; 
    font-size: 1.2em;*/	
    font-size: 1em
}
.variableTab {	
	background-image: url('${IMAGE_FOLDER}/calculator.png');	
	background-size: contain;
	background-position: left bottom;
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 22px; /* Or size of icon + spacing */
	margin-left: -10px;
	z-index: 1009;
}